<html>
	<head>
		<meta charset="UTF-8">

		<!-- might want to move the style section into another file in future, but now it seems ok -->
		<style> 
			.myMessage {
				text-align: right;
				background-color: black;
				color: white;
			}

			.extMessage {
				text-align: left;
				background-color: blue;
				color: white;
			}
		</style>

		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<title>Mess | WEPPO Project</title>

		<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
	</head>
	<body>
		<center>
			<h1> Mess </h1>
		</center>

		<a href="/logout"><button>Logout</button></a>

		You're chatting with <%= receiverHandle %>.

		<div id='messages'>
		</div>

		<form action="" id="form">
			<input id="messagebox" autocomplete="off" /><button>Send</button>
		</form>
		<script>
			var receiverHandle = '<%= receiverHandle %>';
		</script>
		<script src="/scripts/chat.js" /> </script>
	</body>
</html>
