<html>
	<head>
		<meta charset="UTF-8">

		<!-- might want to move the style section into another file in future, but now it seems ok -->
		
		<link rel="stylesheet" href="/styles/style.css">

		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<title>Mess | WEPPO Project</title>

		<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
	</head>
	<body>
		<center>
			<h1> Mess </h1>
		</center>

		<a href="/logout"><button>Logout</button></a>
		<br />
		<a href="/"><button>Back to contacts link</button></a>
		
		<h2> You're chatting with <%= receiverHandle %>. </h2>

		<div id='chat_box'>
			<div id='chat'>
				<div id='messages'></div>

				<form action="" id="form">
					Attachment: <input type="file" id="attachment"> &nbsp;&nbsp;&nbsp;
					<input id="messagebox" autocomplete="off" type=text />
					&nbsp;
					<button>Send</button>
				</form>
			</div>
		</div>
		<script>
			var receiverHandle = '<%= receiverHandle %>';
		</script>
		<script src="/scripts/chat.js"></script>
	</body>
</html>
