<html>
	<head>
		<meta charset="UTF-8">

		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<title>Mess | WEPPO Project</title>

		<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
	</head>
	<body>
		<center>
			<h1> Mess </h1>
		</center>

		<form action="" id="form">
			<input id="messagebox" autocomplete="off" /><button>Send</button>
		</form>

		<script>
  			var socket = io();

			var form = document.getElementById('form');
			var input = document.getElementById('messagebox');

			form.addEventListener('submit', function(e) {
    				e.preventDefault();
    				if(input.value){
      					socket.emit('chat message', input.value);
      					input.value = '';
    				}
  			});

			socket.on('ack', function(msg) {
				console.log(msg+' sent!');
  			});
		</script>
	</body>
</html>
