<html>
	<head>
		<meta charset="UTF-8">

		<!-- might want to move the style section into another file in future, but now it seems ok -->
		<style> 
			.myMessage {
				text-align: right;
				background-color: black;
				color: white;
			}

			.extMessage {
				text-align: left;
				background-color: blue;
				color: white;
			}
		</style>

		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<title>Mess | WEPPO Project</title>

		<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
	</head>
	<body>
		<center>
			<h1> Mess </h1>
		</center>

		<a href="/logout"><button>Logout</button></a>

		<div id='messages'>
		</div>

		<form action="" id="form">
			<input id="messagebox" autocomplete="off" /><button>Send</button>
		</form>

		<script>
  			var socket = io();

			var form = document.getElementById('form');
			var input = document.getElementById('messagebox');

			form.addEventListener('submit', function(e) {
    				e.preventDefault();
    				if(input.value){
					const signed_user_id = document.cookie
  					                               .split('; ')
					                               .find((row) => row.startsWith('signed_user_id='))
					                               ?.split('=')[1];
      					socket.emit('chat message', input.value, signed_user_id);
      					input.value = '';
    				}
  			});

			socket.on('ack', function(msg) {
				const newMessage = document.createElement('div');
				newMessage.setAttribute('class', 'myMessage');
				const newMessageContent = document.createTextNode("You: " + msg);

				newMessage.appendChild(newMessageContent);

				var messageList = document.getElementById('messages');
				messageList.insertBefore(newMessage, null);
				console.log(msg+' sent!');
  			});

			socket.on('msg', function(msg, sender) {
				const newMessage = document.createElement('div');
				newMessage.setAttribute('class', 'extMessage');
				const newMessageContent = document.createTextNode(sender + ": " + msg);

				newMessage.appendChild(newMessageContent);

				var messageList = document.getElementById('messages');
				messageList.insertBefore(newMessage, null);
				console.log(msg+' received!');
  			});
		</script>
	</body>
</html>
