<html>
	<head>
		<meta charset="UTF-8">

		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<title>Mess | WEPPO Project</title>

	</head>
	<body>
		<center>
			<h1> Mess </h1>
		</center>

		<form method="POST">
			Login: <input type="text" name="username" /> <br />
			Password: <input type="password" name="password" />
			<input type="submit" />
		</form>

	</body>
</html>
